{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklet</title>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Logo na samej górze strony -->
    <header class="logo-container">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/header_img.png' %}" alt="Booklet Logo" class="logo">
        </a>
    </header>

    <div class="nav-links">
        <nav>
            {% if user.is_authenticated %}
                <h1 class="welcome-text">Witaj, {{ user.username }}!</h1>

                <!-- Przyciski dla zalogowanych -->
                <a href="{% url 'book_list' %}" class="btn btn-primary">Lista książek</a>
                <a href="{% url 'add_book' %}" class="btn btn-info">Dodaj książkę</a>
                <a href="{% url 'book_reviews' %}" class="btn btn-secondary">Recenzje</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Wyloguj się</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Zaloguj się</a> |
                <a href="{% url 'register' %}" class="btn btn-secondary">Zarejestruj się</a>
            {% endif %}
        </nav>
    </div>


    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
