{% extends 'base.html' %}

{% block content %}
    <h1>List of Books</h1>

    <!-- Sekcja logowania/rejestracji -->
    {% if user.is_authenticated %}
        <p>Witaj, {{ user.username }}!</p>
        <a href="{% url 'logout' %}" class="btn btn-danger">Wyloguj się</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Zaloguj się</a> |
        <a href="{% url 'register' %}" class="btn btn-secondary">Zarejestruj się</a>
    {% endif %}

    <!-- Lista książek -->
    <table>
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.get_status_display }}</td>
                <td>
                    {% if book.get_status_display == 'Przeczytane' or book.get_status_display == 'Teraz czytam' %}
                        <a href="{% url 'add_review' book.id %}" class="btn btn-success">Add Review</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No books available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_book' %}">Add a new book</a>
{% endblock %}
