{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; margin-top: 20px;">
        <h2 style="margin-bottom: 5px;">Booklet - Funkcje aplikacji</h2>
        <p style="margin-bottom: 20px;">Zarządzaj swoimi książkami i recenzjami w prosty sposób!</p>

        <h3 style="margin-bottom: 5px;">Dodawanie książek</h3>
        <p style="margin-bottom: 20px;">W aplikacji Booklet możesz dodawać książki, wypełniając prosty formularz. Wprowadź tytuł, autora, gatunek i wybierz status książki.</p>

        <h3 style="margin-bottom: 5px;">Przeglądanie książek</h3>
        <p style="margin-bottom: 20px;">Możesz łatwo przeglądać listę książek, które dodałaś/eś do swojej kolekcji. </p>

        <h3 style="margin-bottom: 5px;">Dodawanie recenzji</h3>
        <p style="margin-bottom: 20px;">Każdą książkę możesz ocenić i dodać własną recenzję. Podziel się swoimi wrażeniami z innymi użytkownikami aplikacji!</p>

        <h2 style="margin-top: 20px;">Zacznij korzystać z Booklet! :)</h2>
    </div>
{% endblock %}
